/* comment */

/* general */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;   /* ensuring all box sizes include padding and border */
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EFE9D5;
    box-sizing: border-box;
}

.masterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98vw;
}

.pageContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* grid-area: row start / col start / row end / col end  (the ending values are exclusive) */

.headerBox {
    background-color: #209c62;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.masterContentContainer {
    display: flex;
    flex-direction: column;
    background-color: #27445D;
    width: minmax(300px 99vw);
    margin-top: 3px;
    min-height: 88vh;
    border-radius: 10px;
}


.introContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;

}

.introContainer > p {
    margin: 0px 5px;
}

.MainContentTitle {
    color: #EFE9D5;
    font-size: 1.2em;
    margin-right: 5px;
}


#myGrid {
    margin-top: 10px;
    width: 100%;
    height: 650px;
}



.Shortcuts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    height: 100%;
}

#pageTitle {
    font-weight: bold;
    margin: 0;
    font-size: 1.2em;
}

.shortcutContainer {
    width: 90px; /* Fixed width for the div */
    height: 95px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 5px;
    border-radius: 35px;
    padding: 1px;
    /*box-shadow: [horizontal-offset] [vertical-offset] [blur-radius] [spread-radius (optional)] [color];*/
    transition: background-color 0.4s ease;
    cursor: pointer;       /* Changes mouse to hand */
}

.headerShortcut {
    border: 1px solid #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.479);
}

.headerShortcut:hover {
    background-color: #188552;
}

#educationShortcut {
    background-color: #b4b4b4ad;
}

/*margin shorthand: top right bottom left*/
/*margin shorthand: 10px 20px   top/bottom left/right*/
/*margin shorthand: 10px   10 all sides*/

.shortcutContainer > img {
    width: 75px;
    height: 65px;
}

.ContentAdd {
    justify-self: end;
}

input, button {
    margin: 5px;
    padding: 5px;
}

.icon-container {
    width: 40px;  /* making height and width the same so when when do border-radius 50% we get a circle */
    height: 40px; 
    background-color: #EFE9D5;
    border-radius: 50%; /* This makes the icon a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.icon {
    font-size: 24px; /* Adjust size of "i" */
    font-weight: bold;
    color: black;
    margin: 0;
}

.hover-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000; /* Ensures it's above all other elements */
}

.icon-container:hover .hover-box {
    opacity: 1;
    visibility: visible;
}

table tr {
    scroll-snap-align: start;
}

.controlButton, .controlInput {
    font-size: .8em;
    border: none;
    border-radius: 5px; 
    font-family: "Roboto", sans-serif; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
    transition: background-color 0.2s ease;
    margin: 10px 10px;
    height: 45px;
}

.controlButton {
    padding: 10px;
}

.greenButton, .controlInput {
    background-color: #209c62; 
}

.greenButton:hover {
    background-color: #176e45;
}

.blueButton {
    background-color: #3a94e7;
}

.blueButton:hover {
    background-color: #236caf;
}

.controlInput {
    padding: 0px 5px;
}

/* Styling for screens smaller than 700px (common breakpoint for phones) */
@media (max-width: 700px) {

    

}
