/* home css */

.pageContentContainer, .pageTitleContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageContentContainer {

    flex-direction: row;
    flex-wrap: wrap;
}

.pageTitleContainer {
    flex-direction: row;
}

.pageIntroContainer {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 5px;
    margin: 10px 20px;
    width: 40vw;
    height: 32vh;
    text-align: center;
}

.pageIntroTitle {
    font-weight: bold;
    font-size: 1.1em;
}

