
.controlPanel, .investmentAccountsContainer, .investmentBox, .investmentInputsBox > label,
.projectionHeader, .removeButtonContainer, .controlInput, .investmentChartContainer, .retirementChartContainer, .investmentSection,
.controlPanelContainer, .projectionControls, .retirementSection, .investmentTableContainer, .retirementTableContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlPanel {
    flex-direction: row;
    margin-bottom: 5px;
    width: 100%;
}

.controlPanelContainer {
    flex-direction: column;
    border: 1px solid #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 10px 20px;
    border-radius: 20px;
    padding: 5px;
}

.controlPanelHeader {
    font-weight: bold;
    font-size: .8em;
    margin: 5px 0px;
}

.projectionControls {
    flex-direction: row;
}

#withdrawInput, #returnRateInput, #yearsToInvest, #retirementYears {
    width: 50px;
    font-size: .8em;
}

#expensesInput {
    width: 85px;
    font-size: .8em;
}

.investmentSection, .retirementSection
{
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.295);
    border-radius: 20px;
    padding: 5px;
    width: 97%;
    margin: 20px 0px;
}

.sectionHeader {
    color: #EFE9D5;
    font-weight: bold;
    font-size: .9em;
}

.investmentAccountsContainer {
    background-color: #3b6891;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 5px;
    width: 90%;
    flex-direction: column;
    margin: 10px 0px;
    min-height: 300px;
    max-height: 450px;
    overflow-y: auto; /* scrolls when content overflows */
}

.onScreenGuidance {
    margin: 5px 0px;
}

.investmentBox {
    flex-direction: row;
    background-color: #5983a7;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 10px 0px;
    padding: 2px;
    width: 95%;
}

.investmentInputsBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 5px 0px;
    width: 90%;
}

.investmentInputsBox > label {
    font-size: .8em;
    background-color: #7d9fbd;
    flex-direction: column;
    min-width: auto; /* Ensure all labels have the same minimum width */
    text-align: center; 
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 0px 5px;
}

.investmentInput {
    width: 80px;
    font-size: .8em;
}

.projectionHeaders {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px;
}

#nameInput {
    width: 120px;
}

#balanceInput {
    width: 100px;
}

#yearlyRateInput {
    width: 50px;
}

.projectionHeader p {
    margin: 0px;
}

.calculatedValue {
    font-weight: bold;
}

.projectionHeader {
    background-color: #5983a7;
    font-size: .75em;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px 20px;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}


.removeButtonContainer {
    width: 50px;
}

.removeAccount {
    background-color: #fa4242; 
    color: rgb(255, 255, 255); 
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    padding: 0px;
    font-family: "Roboto", sans-serif; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
    transition: background-color 0.2s ease;
}

.removeAccount:hover {
    background-color: #b62727;
}

.investmentTableContainer, .retirementTableContainer {
    flex-direction: column;
    width: 90%;
    height: 400px;
    margin: 10px 0px;
}

#investmentGrid, #retirementGrid {
    flex: 1;
    width: 100%;
}


.investmentChartContainer, .retirementChartContainer {
    width: 90%;
    min-height: 300px;
    max-height: 550px;
    margin: 10px 0px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#investmentChart, #retirementChart {
    height: 100%;
    width: 100%;
}
/* for mobile view */
@media (max-width: 700px) {


}